body{
  height:100%;
  background-color:#52C4C0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote {
    padding: 0;
    margin: 0;
}


ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

a{
  color:#fff;
  text-decoration:none;
}

a:hover{
  background-color:#fff;
  color:#eee;
}

h1{
  padding-top:2em;
  text-transform:uppercase;
  letter-spacing: 5px;
  font-size:1em;
  color:#fff;
}

p{
  line-height:150%;
  letter-spacing: 1px;
  margin-top:1em;
  font-weight:200;
  color:#fff;
}
.header{
  position:absolute;
  top:48px;
  left:45%;
  margin-left:auto;
  margin-right:auto;
  width:129px;
  height:49px;
  z-index:5;
  text-align: center;
  vertical-align:middle;
  border:1px solid #fff;
  color:#fff;

}

.header h2{
  font-size:0.8em;
  text-transform:uppercase;
  letter-spacing: 5px;
}

.workcontent{
  padding:8em 4em 2em 4em;
  color:#fff;
  width:90%;


}

.worktitle{
  /*background-color:#fff;*/
  width:100%;
  height:30%;
  position:absolute;
  top:0;
  padding:3em 0;



}

.worknum{

  width:50%;
  height:18%;
  position:absolute;
  top:0;
  padding:3em 4em;


}
.worknum h1{
  border-top:1px solid #fff;
  padding-top:2em;
  text-transform:uppercase;
  letter-spacing: 5px;
  font-size:1em;
  color:#fff;



}

.worknum h2{

  padding-top:2em;
  text-transform:uppercase;
  letter-spacing: 5px;
  font-size:1em;
  color:#fff;



}



.worktitle h1{
  border-top:1px solid #fff;
  padding-top:2em;
  text-transform:uppercase;
  letter-spacing: 5px;
  font-size:1em;
  text-align:right;
  color:#fff;

}



.workcontent p{
  line-height:150%;
  letter-spacing: 1px;
  margin-top:1em;
  font-weight:200;
}
.btn{
  margin-top:20%;
}

.btn button{

  bottom:10%;
  float:right;

}
#left2 .workcontent p{
  color:#fff;
}

.textMiddle{
  text-align:center;
}


.imgWrap{
  position:relative;
  width:100%;
  height:auto;
}

.imgTitle{
  position:absolute;
  top:30%;
  left:0;
  /*background-color: #52C4C0;*/
  width:100%;
  height:80px;
  color:#fff;
  visibility:hidden;
  opacity:0;
  z-index:1;
}

.imgWrap:hover .imgTitle{
  visibility:visible;
  opacity:1;
}

/*logo wrap*/
.logoWrap{
  position:relative;
  width:100%;
  height:auto;
}

.logoTitle{
  position:absolute;
  top:0px;
  left:0;
  /*background-color: #52C4C0;*/
  width:100%;
  height:80px;
  color:#fff;
  visibility:hidden;
  opacity:0;

}

.logoWrap:hover .logoTitle{
  visibility:visible;
  opacity:0.5;
}

.projectGif{
  width:100%;
  height:100%;
  padding-top:10%;
  padding-bottom:30%;
  text-align:center;
}

.projectGif img{
  text-align:center;
  width:40%;

}
.contentOne{
  width:100%;
  height:600px;
  /*background: url(../img/Swatch/swatch.gif) no-repeat center center fixed;*/
}

.contentTwo{
  margin-top:15%;
  clear:both;
  height:auto;
  background:url('../img/Swatch/rightmobile_01.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#writeup{
  padding:2em;
  /*border-top:1px solid #fff;*/
  height:800px;
}
.ita{
  font-style: italic;
  font-size:0.5em;

}

#smallDetails{

  margin-bottom:2em;
}
#gif{
  background-color:#fff;
  padding:1em;
  color:#333;
  height:800px;

}

#gif h1{
  color:#333;
}

.grid-6{
  text-align:center;
  vertical-align: middle;
  /*height:350px;*/
}

.grid-6 h1{
  text-align:center;
  vertical-align: middle;
  padding-top:40%;
}

.grid-6 img{
  width:100%;
}

button{
  color:#fff;
}

.contentframe{
  background-color:#fff;
}
.contentframe .grid-18{
  background-color:#eee;
}
.contentframe img{
  width:60%;
}

.contentframe .projectGif{
  padding:0;
}

.visible {
float:right;
font-weight:600;
overflow:hidden;
height:40px;
}

.content p {
display:inline;
float:right;
margin:0;
}

.content ul {
margin-top:0;
padding-left:110px;
text-align:right;
list-style:none;
animation:6s linear 0s normal none infinite change;
-webkit-animation:6s linear 0s normal none infinite change;
-moz-animation:6s linear 0s normal none infinite change;
-o-animation:6s linear 0s normal none infinite change;
}

.content ul li {
line-height:40px;
margin:0;
}

@-webkit-keyframes opacity {
0%   {opacity:0;}
50%  {opacity:1;}
100% {opacity:0;}
}
@keyframes opacity {
0%   {opacity:0;}
50%  {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes change {
0%   {margin-top:0;}
15%  {margin-top:0;}
25%  {margin-top:-40px;}
40%  {margin-top:-40px;}
50%  {margin-top:-80px;}
65%  {margin-top:-80px;}
75%  {margin-top:-40px;}
85%  {margin-top:-40px;}
100% {margin-top:0;}
}
@keyframes change {
0%   {margin-top:0;}
15%  {margin-top:0;}
25%  {margin-top:-40px;}
40%  {margin-top:-40px;}
50%  {margin-top:-80px;}
65%  {margin-top:-80px;}
75%  {margin-top:-40px;}
85%  {margin-top:-40px;}
100% {margin-top:0;}
}

/* Tablet */
@media screen and (max-width: 768px) {

    #descp{
      display:none;
    }

    .header{
      position:absolute;
      top:3px;
      left:40%;
      width:18%;
      z-index:5;
      text-align: center;
      vertical-align:middle;
      height:7%;
      padding:1em;
      border:1px solid #fff;
      color:#fff;
      font-size:0.5em;

    }
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5,  .grid-7, .grid-8,
    .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15,
    .grid-16, .grid-17, .grid-18{
      width:100%;
    }
    .projectGif{
      width:100%;
      height:100%;
      padding-top:5%;
      padding-bottom:5%;
    }
    .logoTitle{
      display:none;

    }

    .logoWrap:hover .logoTitle{
      visibility:hidden;
      opacity:0;
      display:none;
    }
    .worknum{
      display:none;
    }
    .worktitle{
      display:none;
    }

}




/* Mobile */
@media screen and (max-width: 480px) {


  .header{
    position:absolute;
    top:3px;
    left:35%;
    width:129px;
    height:46px;
    z-index:5;
    text-align: center;
    vertical-align:middle;
    padding:1em;
    border:1px solid #fff;
    color:#fff;
    font-size:0.5em;

  }

  .worktitle{

    width:100%;
    height:20%;
    position:absolute;
    top:0;
    padding:3em 0;



  }
  #gif{
    background-color:#fff;
    height:400px;
    color:#333;

  }
  #infotwo #gif{
    height:400px;
    padding:0;
  }

  p{
    font-size:0.8em;
  }
  .logoTitle{
    display:none;

  }

  .logoWrap:hover .logoTitle{
    visibility:hidden;
    opacity:0;
    display:none;
  }



}
